<div class="row">
  <div class="col-6 col-s-9" style="text-align: center;">
  <% if @videos.present? %>
	<% @videos.each do |video| %>
	  <h1> <%= video[:title] %></h1>
	  <p> <%= video[:description] %></p>
	  <iframe width="420" height="345" src="<%= video[:url] %>"></iframe>
	<% end %> 
  <% else %>
    Sorry No Data Found...!
  <% end %> 
  </div>
</div>
