<div class="content">
<div class="col-md-12 col-md-offset-3">
<iframe width="560" height="315" src="https://www.youtube.com/embed/LBvynkyg8-M" frameborder="0" allowfullscreen></iframe>
</iframe>
</div>
<div class="col-md-12">
<h3>What would you like to see:</h3>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a data-toggle="tab" href="#youtube">Youtube Public API</a></li>
  <li role="presentation">
  <a data-toggle="tab" href="#twitter">Twitter Public API</a></li>
  <li role="presentation"><a data-toggle="tab" href="#github">Github Public API</a></li>
</ul>
<div class="tab-content">
<div id="loading">
  <img id="loading-image" src="/assets/ajax-loader.gif" alt="Loading..." />
</div>
  <div id="youtube" class="tab-pane fade in active">
  <br/>
  <%= render 'shared/form', :source => "youtube"  %>
  <div id="youtube_error"></div>
 </div>
  <div id="twitter" class="tab-pane fade">
    <br/>
 	<%= render 'shared/form', :source => "twitter"  %>
  <div id="twitter_error"></div>
  </div>
  <div id="github" class="tab-pane fade">
    <br/>
    <%= render 'shared/form', :source => "github"  %>
    <div id="github_error"></div>
  </div>
</div>

</div>
</div>


