<div id="data">
<div id="clear_twitter">
<% if @timeline.present? %>
 <h2>Recent Tweets of <%= @timeline.first.user.name%></h2>
  <% @timeline.each do |client| %>
   <%= raw @client.oembed(client.id).html %>
   <%= "Source: of tweet #{client.source}".html_safe %>
   <br/>
  <% end %>
<% else %>
  Sorry something went wrong...
<% end %>
</div>
</div>